<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <div id="wrapper">
      <%- include('../partials/header') %>
      <%- include('../partials/navigation') %>

      <main>
      <% if (notice && notice.length) { %>
  <div class="notice">
    <% notice.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>


        <%- body %>
      </main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
